*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    height:100vh;
    padding: 150px;
}

.container{
    margin:0 auto;
    max-width:1480px;
}



.animaux{
    display: flex;
    justify-content: center;
    align-items:center;
    height:170px;
    margin: 20px 10px;
    
    .img_animals{
        height:100%;
        
        img{
            height:100%;
            width:100%;
            display: block;
        }
    }
    .text{
        text-align:center;
        font-size:1.5rem;
        .title_animals{
            font-size:1.3rem;
            text-align:center;
            text-transform: uppercase;
            color:#31302F;
        }
        .php{
            color:#C0864C;
        }
        
    }

}



header{
    padding:50px;
    .navbar{
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        .navbarIcon{
            h1{
                a{
                    text-decoration:none;
                    color:#31302F; 
                    font-size:2.5rem; 
                }
            }
        }
        .navbarItems{

            .menuderoulant{
                display: flex;
                height:100px;
                padding-top: 30px;
                
                ul{
                    transform: all;
                    li{
                        list-style-type: none;
                        text-decoration:none;
                        margin-right: 40px;
                        font-size:2rem;
                        color:#C0864C;
                        cursor: pointer;
                        
                        
                    }
                }
            }
            .Animals{
                 
                color:#C0864C; 
                display: block;
                width: 100%;
                li{
                    display:none;
                    flex-direction: column;
                    cursor: pointer;   
                    a{
                        text-decoration:none;
                        margin-right: 20px;
                        font-size:1.5rem;
                        color:#C0864C;             
                    &:hover{
                            text-decoration:underline;
                        }
                    }  
                }
                 
            }
            
        }
        .menuderoulant ul:hover .Animals li {
            display: block;
            text-align:center;
            margin: 0;
            padding: 0; 
        }

    }
}

.home{
    padding-top: 50px;
    .background_image_home{
        .bc_image_home{
            width:100%;
            object-fit: cover;
        }
    }
}






































@media screen and (max-width:1024px){
    .animaux{
        flex-direction:column;
        margin:50px 20px;

        .animaux_items{

            margin-bottom: 170px;
            
            .text{
               margin-top: 20px;
            }
        }
        
    }
}