* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  height: 100vh;
  padding: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
}

.animaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  margin: 20px 10px;
}
.animaux .img_animals {
  height: 100%;
}
.animaux .img_animals img {
  height: 100%;
  width: 100%;
  display: block;
}
.animaux .text {
  text-align: center;
  font-size: 1.5rem;
}
.animaux .text .title_animals {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  color: #31302F;
}
.animaux .text .php {
  color: #C0864C;
}

header {
  padding: 50px;
}
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar .navbarIcon h1 a {
  text-decoration: none;
  color: #31302F;
  font-size: 2.5rem;
}
header .navbar .navbarItems .menuderoulant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 30px;
}
header .navbar .navbarItems .menuderoulant ul {
  -webkit-transform: all;
          transform: all;
}
header .navbar .navbarItems .menuderoulant ul li {
  list-style-type: none;
  text-decoration: none;
  margin-right: 40px;
  font-size: 2rem;
  color: #C0864C;
  cursor: pointer;
}
header .navbar .navbarItems .Animals {
  color: #C0864C;
  display: block;
  width: 100%;
}
header .navbar .navbarItems .Animals li {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
header .navbar .navbarItems .Animals li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.5rem;
  color: #C0864C;
}
header .navbar .navbarItems .Animals li a:hover {
  text-decoration: underline;
}
header .navbar .menuderoulant ul:hover .Animals li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home {
  padding-top: 50px;
}
.home .background_image_home .bc_image_home {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .animaux {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 20px;
  }
  .animaux .animaux_items {
    margin-bottom: 170px;
  }
  .animaux .animaux_items .text {
    margin-top: 20px;
  }
}